<div style="margin-left: 50px;">
<h2>Gender time</h2>
<ul>
<li>
  <h3>Identity</h3>
  <div>
    <input type="range" min="0" max="10" value="7" step="0" disabled />
  </div>
  <div class="dd">
    <span>Male</span>
    <span>Non-binary</span>
    <span>Female</span>
  </div>
</li>
<li>
  <h3>Expression</h3>
  <div>
    <input type="range" min="0" max="10" value="7" step="0" disabled />
  </div>
  <div class="dd">
    <span>Hypermasculine</span>
    <span>Androgynous</span>
    <span>Hyperfeminine</span>
  </div>
</li>
<li>
  <h3>Orientation</h3>
  <div>
    <input type="range" min="0" max="10" value="7" step="0" disabled />
  </div>
  <div class="dd">
    <span>Straight</span>
    <span>Bi/Pan</span>
    <span>Gay</span>
  </div>
</li>
<li>
  <h3>Sexual drive</h3>
  <div>
    <input type="range" min="0" max="10" value="7" step="0" disabled />
  </div>
  <div class="dd">
    <span>Asexual</span>
    <span>Regular</span>
    <span>Hypersexual</span>
  </div>
</li>
<li>
  <h3>Romantic desire</h3>
  <div>
    <input type="range" min="0" max="10" value="7" step="0" disabled />
  </div>
  <div class="dd">
    <span>Aromantic</span>
    <span>Interested</span>
    <span>Hopeless romantic</span>
  </div>
</li>
<li>
  <h3>Relationship attitude</h3>
  <div>
    <input type="range" min="0" max="10" value="7" step="0" disabled />
  </div>
  <div class="dd">
    <span>Monogamous</span>
    <span>Open</span>
    <span>Polyamorous</span>
  </div>
</li>
<li>
  <h3>Sexual exploration</h3>
  <div>
    <input type="range" min="0" max="10" value="7" step="0" disabled />
  </div>
  <div class="dd">
    <span>Vanilla</span>
    <span>Light play</span>
    <span>Hard BDSM</span>
  </div>
</li>
</ul>
</div>
