<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="form-group">
            <label for="message">Your message</label>
            <input type="text" id="message" class="form-control" formControlName="message">
            <span *ngIf="!signForm.get('message').valid && signForm.get('message').touched" class="help-block">Empty</span>
          </div>

          <div class="form-group">
            <label for="names">Names</label>
            <button type ='button' class="btn btn-default" (click)="addName()">Add</button>
            <ng-container formArrayName="names">
              <div *ngFor="let _ of names.controls; index as i">
                <input formControlName="names" [formControlName]="i" />
                <button (click)="removeName(i)">X</button>
              </div>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="pronouces_good">Pronouns prefered (e.g. he/him)</label>
            <button type ='button' class="btn btn-default" (click)="addPronouns()">Add</button>
            <ng-container formArrayName="pronouces_good">
              <div *ngFor="let _ of pronouces_good.controls; index as i">
                <input formControlName="pronouces_good" [formControlName]="i" />
                <button (click)="removePronouns(i)">X</button>
              </div>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="pronouces_neutral">Pronouns neutral (e.g. he/him)</label>
            <button type ='button' class="btn btn-default" (click)="addPronounsN()">Add</button>
            <ng-container formArrayName="pronouces_neutral">
              <div *ngFor="let _ of pronouces_neutral.controls; index as i">
                <input formControlName="pronouces_neutral" [formControlName]="i" />
                <button (click)="removePronounsN(i)">X</button>
              </div>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="flags">Flags</label>
            <button type ='button' class="btn btn-default" (click)="addSexuality()">Add</button>
            <ng-container formArrayName="sexuality">
              <div *ngFor="let _ of sexuality.controls; index as i">
                <input formControlName="sexuality" [formControlName]="i" />
                <button (click)="removeSexuality(i)">X</button>
              </div>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="link">Links</label>
            <button class="btn btn-default" type="button" (click)="addLinks()">Add link</button>
            <ng-container formArrayName="links">
              <div *ngFor="let _ of links.controls; index as i">
                <ng-container [formGroupName]="i">
                  <input formControlName="social" />
                  <input formControlName="url" />
                </ng-container>
                <button (click)="removeLinks(i)">X</button>
              </div>
            </ng-container>
          </div>

          <div class="form-group">
            <label for="words">Words</label><br>
            <input type="text" [(ngModel)]="word" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-default" type="button" (click)="addWord(word)">Add word</button>

          <div class="row">
            <div class="col-xs-3">
              <dl *ngFor="let w1 of words_col_1;">
                <input type="checkbox" formArrayName="selectedWords1" name="{{w1}}" value="{{w1}}" (change)="onCheckboxChange1($event)">
                <label for="{{w1}}">{{w1}}</label>
              </dl>
            </div>


            <div class="col-xs-3">
              <dl *ngFor="let w2 of words_col_2;">
                <input type="checkbox" formArrayName="selectedWords2" name="{{w2}}" value="{{w2}}" (change)="onCheckboxChange2($event)">
                <label for="{{w2}}">{{w2}}</label>
              </dl>
            </div>


              <div class="col-xs-3">
                <dl *ngFor="let w3 of words_col_3; ; let i = index">
                  <input type="checkbox" formArrayName="selectedWords3" name="{{w3}}" value="{{w3}}" (change)="onCheckboxChange3($event)">
                <label for="{{w3}}">{{w3}}</label>
                </dl>
              </div>
              <div class="col-xs-3">
                <dl *ngFor="let w4 of words_col_4; ; let i = index">
                  <input type="checkbox" formArrayName="selectedWords4" name="{{w4}}" value="{{w4}}" (change)="onCheckboxChange4($event)">
                <label for="{{w4}}">{{w4}}</label>
                </dl>
              </div>
          </div>
        </div>


          <div class="form-group">
            <label for="link">Sliders</label>


            <div style="margin-left: 50px;">
              <ul>
              <li>
                <h3>Identity</h3>
                <div>
                  <input type="range" min="0" max="10" value="7" step="0" class="form-control" formControlName="s_identity"/>
                </div>
                <div class="dd">
                  <span>Male</span>
                  <span>Non-binary</span>
                  <span>Female</span>
                </div>
              </li>
              <li>
                <h3>Expression</h3>
                <div>
                  <input type="range" min="0" max="10" value="7" step="0" class="form-control" formControlName="s_expression"/>
                </div>
                <div class="dd">
                  <span>Hypermasculine</span>
                  <span>Androgynous</span>
                  <span>Hyperfeminine</span>
                </div>
              </li>
              <li>
                <h3>Orientation</h3>
                <div>
                  <input type="range" min="0" max="10" value="7" step="0" class="form-control" formControlName="s_orientation"/>
                </div>
                <div class="dd">
                  <span>Straight</span>
                  <span>Bi/Pan</span>
                  <span>Gay</span>
                </div>
              </li>
              <li>
                <h3>Sexual drive</h3>
                <div>
                  <input type="range" min="0" max="10" value="7" step="0"  class="form-control" formControlName="s_drive"/>
                </div>
                <div class="dd">
                  <span>Asexual</span>
                  <span>Regular</span>
                  <span>Hypersexual</span>
                </div>
              </li>
              <li>
                <h3>Romantic desire</h3>
                <div>
                  <input type="range" min="0" max="10" value="7" step="0" class="form-control" formControlName="s_desire"/>
                </div>
                <div class="dd">
                  <span>Aromantic</span>
                  <span>Interested</span>
                  <span>Hopeless romantic</span>
                </div>
              </li>
              <li>
                <h3>Relationship attitude</h3>
                <div>
                  <input type="range" min="0" max="10" value="7" step="0" class="form-control" formControlName="s_attitude"/>
                </div>
                <div class="dd">
                  <span>Monogamous</span>
                  <span>Open</span>
                  <span>Polyamorous</span>
                </div>
              </li>
              <li>
                <h3>Sexual exploration</h3>
                <div>
                  <input type="range" min="0" max="10" value="7" step="0" class="form-control" formControlName="s_exploration" />
                </div>
                <div class="dd">
                  <span>Vanilla</span>
                  <span>Light play</span>
                  <span>Hard BDSM</span>
                </div>
              </li>
              </ul>
              </div>
          </div>
        </div>

        <button
        class="btn btn-primary"
         type="submit"
         [disabled]="!signForm.valid"
         >Submit</button>
      </form>
    </div>
  </div>
</div>
